
p{
	padding-left:20px;

}
body { 
	padding-top: 70px;
	padding-bottom: 70px; 
}

.footer{
	text-align:center;
	color: white;
	 font-family:Iceland;
	 font-size:20px;
}

#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 75px;
	padding-left:0px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	z-index: 999;
	background-color: rgb(1,1,1); 
}

ul li{
	font-family: Play;
}

